@import 'tailwindcss';

@theme {
  --color-dark-purple: #605399;
  --color-logo-purple: #723a9a;
  --color-light-purple: #ada1e6;
  --color-light: #e4def9;
  --color-light-pink: #ebc1ee;
  --color-dark-pink: #d562be;
  --font-tiles: 'Inter', sans-serif;
  --font-subtitles: 'Poppins', sans-serif;
}
